body {
  margin: 0;
  padding: 0;
}

.clock {
  position: absolute;
  top: 68px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: Orbitron;
  letter-spacing: 7px;
  width: 100%;



}