body {
  margin: 0;
  padding: 0;
}

.clock {
  position: absolute;
  top: 68px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: Orbitron;
  letter-spacing: 7px;
  width: 100%;
}

.center {
  text-align: center;
  width: 80vh;
  padding-right: 50px;
}

.block strong {
  display: block;
}

hr.tebel {
  border: 3px solid black;
  border-radius: 5px;
}

.link-home {
  margin-top: 0px;
}

hr {
  background-color: black;
}

.rumah {
  margin-top: -50px;
  padding-left: 15px;
}

.test {
  padding-top: 0;
}

@media screen and (max-width: 574px) {
  img {
    width: 210px;
  }
  img {
    width: 170px;
  }
}

@media screen and (max-width: 1100px){
  .link-home {
    margin-top: 30px;
  }
}